.board-page > :first-child{
    width: 1200px;
    font-size: 24px;
    border-bottom: 2px solid rgba(51, 171, 245, 1);
    padding-bottom: 8px;
    margin: 80px auto 40px auto;
  }
  
  .board-page-ul{
    width: max-content;
    min-height: 600px;
    margin: 0 auto 0 auto;
  }
  
  .board-page-board-menu{
    width: 1000px;
    height: 50px;
    border-bottom: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 8px;
    cursor: pointer;
  }
  
  .board-page-board-menu > :first-child{
    width: 120px;
    font-size: 12px;
  }
  
  .board-page-board-menu > :nth-child(2){
    width: 700px;
  }
  
  .board-page-board-menu > :nth-child(3){
    width: 110px;
    font-size: 12px;
  }
  
  .board-page-board-menu > :last-child{
    width: 70px;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  
  .board-page-board-content{
    width: 1000px;
    height: 0px;
    background-color: rgba(249, 249, 249, 1);
    transition: 0.3s;
    overflow: hidden;
    box-sizing: border-box;
    padding: 48px;
    opacity: 0;
    color: rgba(249, 249, 249, 0);
  }
  
  .board-page-board-content-active{
    height: min-content;
    color: black;
    opacity: 1;
  }
  
  .board-page-board-content-hide{
    height: 0px;
    padding: 0px;
    opacity: 0;
    color: rgba(249, 249, 249, 0);
  }
  
  .board-page-question-consumer-text{
    display: flex;
    justify-content: space-between;
    width: 882px;
    margin: 0 auto 0 auto;
  }
  
  .board-page-question-consumer-text > div{
    display: flex;
    gap: 24px;
    align-items: end;
  }
  
  .board-page-question-consumer-text > div > :first-child{
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
  }
  
  .board-page-question-consumer-content{
    overflow: hidden;
    width: 850px;
    height: max-content;
    background-color: rgba(212, 228, 255, 1);
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 8px;
    line-height: 22px;
  }
  
  .board-page-section{
    display: flex;
    gap: 16px;
    width: max-content;
    margin: 40px auto 80px auto;
  }
  
  .board-page-section > button {
    font-size: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0px;
    border-bottom: 2px solid white;

  }
  
  .board-page-section > button > img {
    padding-bottom: 2px;
  
  }
  
  .board-page-section > button:hover, .board-page-section > img:hover{
    border-bottom: 2px solid black;
  }
  
  .board-page-button >p{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .board-page-button-unselected >p{
    background-color: white;
    color: black;
  }
  
  .board-page-button-selected >p{
    background-color: rgba(247, 168, 137, 1);
    color: white;
  }
  
  .board-post-button{
    width: 1000px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: end;  
  }
  
  .board-post-button > button{
    width: 100px;
    height: 30px;
    border: 1px solid rgba(51, 171, 245, 1);
    border-radius: 8px;
    font-size: 14px;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .board-post-button > button:hover{
    border: 1px solid rgba(247, 168, 137, 1);
    background-color: rgba(247, 168, 137, 1);
    color: white;
  }
  
  .board-modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(145, 145, 145, 0.8);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0px;
    left: 0px;
  }
  
  .board-madal-content{
    width: 1000px;
    height: max-content;
    background-color: white;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto 0 auto;
    box-shadow: 2px 2px 16px rgba(51, 171, 245, 0.2);
    border-radius: 8px;
  }
  
  .board-madal-content > :first-child{
    margin-bottom: 24px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .board-madal-content > :first-child::after{
    content: "";
    display: block;
    width: 800px;
    height: 1px;
    background-color: rgba(51, 171, 245, 1);
  }
  
  .board-modal-close{
    width: 120px;
    margin-left: 850px;
    color: white;
    text-align: end;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
  }
  
  .board-modal-close:hover{
    color: black
  }
  
  .board-madal-content > div{
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .board-madal-content > :nth-child(2)>:first-child{
    position: absolute;
    top: -8px;
    left: 8px;
    width: 90px;
    background-color: white;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 14px;
  }
  
  .board-madal-content > :nth-child(3)>:first-child{
    position: absolute;
    top: -8px;
    left: 8px;
    width: 90px;
    background-color: white;
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 14px;
  }
  
  .board-madal-content > :nth-child(2) > input{
    width: 800px;
    height: 50px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 2px;
    border: 2px solid rgba(204, 204, 204, 0.5);
  }
  
  .board-madal-content > :nth-child(2) > input:focus{
    border: 2px solid rgba(247, 168, 137, 1);
  }
  
  .board-madal-content textarea{
    width: 800px;
    height: 200px;
    font-size: 18px;
    border: 2px solid rgba(204, 204, 204, 0.5);
    border-radius: 2px;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    resize: none;
    outline: none;
    padding: 24px;
  }
  
  .board-madal-content textarea:focus{
    border: 2px solid rgba(247, 168, 137, 1);
  }
  
  .board-madal-content >:last-child{
    margin: 16px 100px 32px auto;
    width: 140px;
    height: 48px;
    background-color: white;
    border: 1px solid rgba(51, 171, 245, 1);
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .board-madal-content > :last-child:hover{
    background-color: rgba(51, 171, 245, 1);
    color: white;
  }
  
  .board-madal-content > :last-child:focus{
    background-color: rgba(51, 171, 245, 1);
    color: white;
  }
  
  .board-menu-ul{
    display: flex;
    width: max-content;
    margin: 130px auto 0 auto;
    align-items: center;
  }

  .board-menu-ul>::after{
    position: relative;
    top: 20px;
    display: block;
    content: "";
    height: 2px;
    background-color: rgba(51, 171, 245, 1);
    width: 0px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.3s;
  }

  .board-menu-ul>:hover::after{
    transform: scaleX(1);
    width: 334px;
  }
  
  .board-menu-li{
    width: 340px;
    height: 60px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .board-menu-active{
    background-color: rgba(51, 171, 245, 1);
    color: white;
    border-radius: 8px;
    transition: 0.3s
  }

.board-page-reply-box {
    margin: 16px auto 0 auto;
    padding-top: 16px;
    border-top: 1px solid rgb(204, 204, 204);;
    box-sizing: border-box;
    width: 882px;
}

.board-page-reply-box h4 {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
}

.board-page-reply {
  overflow: hidden;
  width: 882px;
  height: max-content;
  background-color: rgba(212, 228, 255, 1);
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
}

.board-page-reply span {
  font-size: 12px;
  color: rgba(130, 130, 130, 1);
  margin-top: 4px;
  display: flex;
  justify-content: end;
}

.board-page-notice-text{
  display: flex;
  width: 850px;
  margin: 0 auto 0 auto;
  gap: 18px;
  justify-content: end;
  align-items: end;
}

.board-page-notice-content{
overflow: hidden;
width: 850px;
height: max-content;
background-color: rgba(212, 228, 255, 1);
margin: 24px auto 0 auto;
padding: 16px;
border-radius: 8px;
line-height: 24px;
}

.board-page-notice-text > :first-child{
  font-size: 12px;
  color: rgba(130, 130, 130, 1);
}

.board-page-notice-text > :last-child{
  font-size: 16px;
}

.board-page-qna-content{
  overflow: hidden;
  width: 850px;
  height: max-content;
  background-color: rgba(212, 228, 255, 1);
  margin: 0 auto 24px auto;
  padding: 16px;
  border-radius: 8px;
  line-height: 24px;
}

.board-page-qna-text{
  width: 100px;
  border-bottom: 2px solid rgba(103, 136, 238, 1);
  margin-bottom: 8px;
}