.checkout-page{
    height: 100vh;
    padding-top: 180px;
    box-sizing: border-box;
  }
  
  .checkout-page-form{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 580px;
    margin: 0 auto 0 auto;
    
  }
  
  .checkout-page > h2{
    width: 1200px;
    margin: 0 auto 16px auto;
    color: rgba(33, 33, 33, 1);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(51, 171, 245, 1);
  }
  
  .checkout-cart-ul{
    height: 592px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-weight: 300;
  }
  
  .checkout-cart-li{
    display: flex;
    width: 720px;
    height: 116px;
    border-radius: 8px;
    background-color: rgba(249, 249, 249, 1);
    border: 1px solid white;
    gap: 40px;
    padding: 13px;
    box-sizing: border-box;
  }
  
  .checkout-cart-li > img{
    width: 90px;
    height: 90px;
  }
  
  .checkout-cart-text{
    display: flex;
  }
  
  .checkout-cart-text > :first-child {
    width: 440px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .checkout-cart-text > :first-child >:first-child{
    display: flex;
    align-items: end;
    gap: 30px;
  }
  
  .checkout-cart-text > :first-child >:nth-child(2){
    font-size: 12px;
    color: rgba(247, 168, 137, 1)
  }
  
  .checkout-cart-text > :first-child> :last-child{
    display: flex;
    align-items: end;
    gap: 30px;
  }
  
  .checkout-cart-text > :first-child> :last-child > :first-child{
    font-size: 12px;
  }
  
  .checkout-cart-quantity{
    border-bottom: 1px solid black;
    width: max-content;
  }
  
  .checkout-cart-quantity > button{
    background-color: rgba(249, 249, 249, 1);
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .checkout-cart-quantity > span{
    font-size: 24px;
  }

  .checkout-cart-total-price{
    font-weight: 400;
  }

  .checkout-cart-text > :first-child >:first-child > :last-child{
    font-size: 12px;
    color: rgba(130, 130, 130, 1);
  }
  
  .checkout-cart-text > :last-child{
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
  
  .checkout-cart-text > :last-child > button{
    background-color: rgba(249, 249, 249, 1);
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .checkout-cart-text > :last-child > button:hover{
    font-weight: bold;
  }
  
  .checkout-cart-right{
    border-radius: 8px;
    width: 460px;
    height: 580px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    background-color: rgba(249, 249, 249, 1);
  }
  
  .checkout-cart-right > div{
    display: flex;
    align-items: end;
    margin: 0 auto 0 auto;
  }
  
  .checkout-cart-right >:first-child, .checkout-cart-right >:nth-child(2){
    justify-content: space-between;
    width: 280px;
    height: 35px;
    padding: 6px;
  }
  
  .checkout-cart-right >:first-child{
    margin-top: 120px;
    margin-bottom: 14px;
  }
  
  .checkout-cart-right > :nth-child(2){
    margin-bottom: 60px;
  }
  
  .checkout-cart-right > :nth-child(1) > p, .checkout-cart-right > :nth-child(2) > p{
    font-size: 14px;
  }
  
  .checkout-cart-right > :nth-child(1) > :nth-child(2){
    font-size: 24px;
    text-decoration: line-through;

  }
  
  .checkout-cart-right > :nth-child(2) > :nth-child(2){
    font-size: 24px;
  }
  
  .checkout-cart-right > :nth-child(3){
    justify-content: space-between;
    width: 340px;
    font-weight: 400;
    border-bottom: 2px solid rgba(240, 105, 82, 0.3);
    padding: 4px;
  }

  .checkout-cart-right > :nth-child(3) > :first-child{
    font-size: 20px;
  }
  
  .checkout-cart-right > :nth-child(3) > :nth-child(2)> span{
    font-size: 32px;
    color: rgba(240, 105, 82, 1);
  }
  
  .checkout-cart-right > :nth-child(4){
    width: 210px;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 68px;
  }
  
  .checkout-cart-right > :nth-child(5){
    gap: 10px;
  }
  
  .checkout-cart-right > :nth-child(5) > button{
    color: rgb(109, 109, 109);
    width: 184px;
    height: 50px;
    border: 1px solid rgba(51, 171, 245, 1);
    box-sizing: border-box;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(51, 171, 245, 0.2);
  }
  
  .checkout-cart-right > :nth-child(5) > button:nth-child(2){
    background-color: rgba(51, 171, 245, 1);
    color: black;
  }
  
  .checkout-cart-right > :nth-child(5) > button:hover{
    background-color: rgba(51, 171, 245, 1);
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 4px rgba(51, 171, 245, 0.7);
  }
  