
/* BuyComponent 컴포넌트 */
.product-card {
    width: 300px;
    height: 480px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .product-card:hover{
    box-shadow: 2px 2px 16px rgb(230, 230, 230);
  }
  
  .product-card > img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
  }
  
  .product-info {
    flex-grow: 1;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px 16px 16px;
    justify-content: space-between;
  }
  
  .product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .product-title+div{
    display: flex;
    gap: 18px;
  }
  
  .product-price {
    font-size: 24px;
    font-weight: bold;
    color: rgba(240, 105, 82, 1);
  }
  
  .product-price-discount {
    display: flex;
    align-items: end;
    font-size: 14px;
    color: #aaa;
    text-decoration: line-through;
  }
  
  .product-delivery {
    margin-top: 12px;
    font-size: 12px;
    color: #555;
    display: flex;
    gap: 8px;
  }

  .product-delivery > :nth-child(2){
    display: block;
    width: 200px;
    height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 8px;
  }

  .product-saleDeadline{
    font-size: 12px;
    color: #555;
    display: flex;
    gap: 8px;
  }
  
  .product-description {
    line-height: 1.4;
    color: rgba(51, 171, 245, 1)
  }
  
  .product-cart {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .buy-section{
    margin: 0 auto 0 auto;
    width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 16px;
  }