.header-box{
  width: 100%;
  height: 50px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 220px;
}

input{
  outline: none;
}

.header-box > :first-child{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 173, 58, 1);
}


.header-box > div{
  display: flex;
  gap: 16px;
}

.menu-box{
  display: flex;
  gap: 20px;
  width: max-content;
  margin: 80px auto 0 auto;
}

.menu-link {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background-color: rgba(255, 246, 224, 1);
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
  margin-right: 10px;
}

.header-nav{
  width: 100%;
  height: 94px;
  background-color: rgba(255, 173, 58, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.header-link{
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-size: 24px;
  width: 174px;
  text-align: center;
}

.product-card {
  width: 300px;
  height: 480px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fff;
}

.product-card > img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
}

.product-info {
  flex-grow: 1;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px 16px;
  justify-content: space-between;
}

.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-title+div{
  display: flex;
  gap: 24px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  color: red;  
}

.product-price-discount {
  display: flex;
  align-items: end;
  font-size: 14px;
  color: #aaa;
  text-decoration: line-through;
}

.product-delivery {
  margin-top: 12px;
  font-size: 14px;
  color: #555;
  
}

.product-description {
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

.product-cart {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.buy-section{
  margin: 0 auto 0 auto;
  width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 16px;
}

.login-form{
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 500px;
  border-radius: 8px;
  background: linear-gradient(to bottom right,rgba(255, 173, 58, 1),rgba(246, 239, 216, 1));
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.amart-logo{
  font-size: 32px;
  color: rgba(255, 173, 58, 1);
  font-weight: bold;
  margin: 0 auto 0 auto;
}

.amart-logo > span{
  font-size: 60px;
}

.login-form > :first-child{
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin: 85px 294px 16px 16px;
  white-space: nowrap;
}

.login-form > form > :first-child {
  display: flex;
  flex-direction: column;
}

.login-form input{
  width: 330px;
  height: 48px;
  border: 0px;
  padding-left: 16px;
  box-sizing: border-box;
}

.login-form > form >:first-child > :nth-of-type(1){
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgba(250, 250, 250, 1);
}

.login-form > form > :first-child > :nth-of-type(2){
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.login-form > form > :nth-child(2)  {
  display: flex;
  font-size: 14px;
  color: rgba(150, 150, 150, 1);
  justify-content:space-between;
  margin-top: 16px;
  
}
.login-form > form > :nth-child(2) :link, :visited{
  color: rgba(150, 150, 150, 1);
  text-decoration: none;
}

.login-form > form > :nth-child(2) > div {
  display: flex;
  gap: 8px;
}

.login-form > form > :nth-child(2) > div > p:last-child{
  display: flex;
  gap: 8px;
}

.login-form > form > :nth-child(2) > div > p:last-child::before{
  display: block;
  content: " ";
  width: 1px;
  height: 100%;
  background-color: rgba(150, 150, 150, 1);
}

.login-form > form > button {
  width: 220px;
  height: 50px;
  border: 0px;
  background-color: white;
  font-size: 18px;
  border-radius: 8px;
  margin: 60px 95px 0px 50px;
}

.signUp-form{
  width: 660px;
  height: 700px;
  border-radius: 8px;
  background: linear-gradient(to bottom right,rgba(255, 173, 58, 1),rgba(246, 239, 216, 1));
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.signUp-form >form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  margin-top: 60px;
}

.signUp-form > form >div{
  display: flex;
  align-items: center;
  width: 460px;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
}

.signUp-form > form > div > input{
  width: 400px;
  height: 50px;
  border: 0px;
  padding-left: 20px;
  box-sizing: border-box;
}

.signUp-form >form > button {
  width: 150px;
  height: 50px;
  background-color: rgba(255, 173, 58, 1);
  border: 0px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 310px;
}

.user-select{
  display: flex;
  margin: 0 auto 0 auto;
  width: max-content;
  gap: 54px;
  margin-top: 230px;
  align-items: end;
}
.user-select :link, .user-select :visited{
  text-decoration: none;
  color: black;
}
.consumer-user-select{
  width: 376px;
  height: 400px;
  background: linear-gradient(to bottom right,rgba(255, 173, 58, 1),rgba(246, 239, 216, 1));
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  padding-top: 120px;
  box-sizing: border-box;
}

.consumer-user-select > :first-child {
  font-size: 100px;
}

.consumer-user-select > :last-child {
  font-size: 60px;
  color: rgba(130, 130, 130, 1);

}
.seller-user-select{
  width: 278px;
  height: 300px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}


.seller-user-select > :nth-child(2){
  color: rgba(130, 130, 130, 1);
  margin-top: 8px;
}
.seller-user-select > :nth-child(3){
  color: rgba(130, 130, 130, 1);
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
}

.seller-signUp-form{
  width: 660px;
  height: 700px;
  border-radius: 8px;
  background: linear-gradient(to bottom right,rgba(255, 173, 58, 1),rgba(246, 239, 216, 1));
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto 0 auto;
  padding: 40px;
  box-sizing: border-box;
}

.seller-signUp-form >form > button {
  width: 150px;
  height: 50px;
  background-color: rgba(255, 173, 58, 1);
  border: 0px;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 310px;
}